@model IEnumerable<MetricDM.Controllers.MetricPeriodController.METRIC_PERIOD_ITEM>
@*@model IEnumerable<MetricDM.Models.MTRC_METRIC_PERIOD>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<br />

<div class="row" style="margin:0 auto">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr>
            <th style="text-align:center">Metric Period Name</th>
            <th>Description</th>
            <th style ="text-align:center">Metric Name</th>
            <th style="text-align:center">Time Period Name</th>
            <th style="text-align:center">Product</th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mtrc_period_name)
                </td>
                <td style="text-align:left">
                    @Html.DisplayFor(modelItem => item.mtrc_period_desc)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.MTRC_METRIC.mtrc_name)*@
                    @Html.DisplayFor(modelItem => item.metric_Name)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.MTRC_TIME_PERIOD_TYPE.tpt_name)*@
                    @Html.DisplayFor(modelItem => item.period_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product_Name)
                </td>

                <td>
                    <input type="hidden" id="MPId" value="@item.mtrc_period_id"/>
                    <input type="button" class="btnMPDetails" value="Details" />
                </td>
            </tr>
}

    </table>
    @if ( Model.Count() == 0)
    { 
        <div style="border: 1px solid red; border-radius:4px; color:red; margin:0 auto; max-width:500px; padding: 15px; font-style:italic ">
            No Metric Periods have been set up for this Metric
        </div>    
    }

    <hr />
    <div class="row" style="text-align:center">
        <input type="button" class="btn btn-primary" id="btnAddMP" value="Add New Metric Period" />
    </div>
    <br />
</div>