@model MetricDM.Models.MTRC_METRIC_PERIOD

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.mtrc_period_id)
        <input type="hidden" id="mID" value="@Model.mtrc_id" />
    </div>
    <span font-size:large; font-weight:bold"> </span>
    <span id="saveMessage" class="alert-success" style="display:none; font-size:large; font-weight:bold"> </span>
    <br />
    <div class="row" style="margin-top:5px">
        <div class="col-md-4 col-sm-3" >
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_name, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name", style = "min-width:100%"} })
            </div>
        </div>
        <div class="col-md-8 col-sm-9" >
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_desc, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_desc, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Description", style = "min-width:100%" } })
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top:5px">
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.tpt_id, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.tpt_id, new { htmlAttributes = new { @class = "form-control", placeholder = "___" } })
                @*@Html.DropDownList("tpt_id", null, htmlAttributes: new { @class = "form-control" })*@
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_max_dec_places, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_max_dec_places, new { htmlAttributes = new { @class = "form-control", placeholder = "__" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_token, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_token, new { htmlAttributes = new { @class = "form-control", placeholder = "__" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_calc_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_calc_yn, new { htmlAttributes = new { @class = "form-control", placeholder = "__" } })

            </div>
        </div>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.tpt_id, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_name, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_token, "", new { @class = "text-danger" })

    </div>


    <div class="row" style="margin-top:5px">
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_min_val, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_min_val, new { htmlAttributes = new { @class = "form-control", placeholder = "___" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_max_val, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_max_val, new { htmlAttributes = new { @class = "form-control", placeholder = "___" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_na_allow_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_na_allow_yn, new { htmlAttributes = new { @class = "form-control", placeholder = "___" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_max_str_size, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_max_str_size, new { htmlAttributes = new { @class = "form-control", placeholder = "__" } })

            </div>
        </div>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.mtrc_period_min_val, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_max_val, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_max_dec_places, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_max_str_size, "", new { @class = "text-danger" })

    </div>

    <div class="row" style="margin-top:5px">
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_can_import_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_can_import_yn, new { htmlAttributes = new { @class = "form-control", placeholder = "___" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_is_auto_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_is_auto_yn, new { htmlAttributes = new { @class = "form-control", placeholder = "__" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            @*<div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_na_allow_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_na_allow_yn, new { htmlAttributes = new { @class = "form-control", placeholder = "___" } })
            </div>*@
        </div>

        <div class="col-md-3 col-sm-6">
            @*<div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_max_str_size, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                    @Html.EditorFor(model => model.mtrc_period_max_str_size, new { htmlAttributes = new { @class = "form-control", placeholder = "__" } })
            </div>*@
        </div>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.mtrc_period_na_allow_yn, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_can_import_yn, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_is_auto_yn, "", new { @class = "text-danger" })
    </div>

    <hr />
    <div class="row" style="text-align:center">
        <input type="button" class="btn btn-primary" id="btnSaveMPDetail" value="Save Metric Period Data" />
    </div>
    <br />
    <div>
        @ViewBag.saveResult
    </div>
}
