@model IEnumerable<MetricDM.Models.MTRC_METRIC_PERIOD>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<div class="row" style="margin:0 auto">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mtrc_period_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mtrc_period_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MTRC_METRIC.mtrc_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MTRC_TIME_PERIOD_TYPE.tpt_name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mtrc_period_name)
                </td>
                <td style="text-align:left">
                    @Html.DisplayFor(modelItem => item.mtrc_period_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MTRC_METRIC.mtrc_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MTRC_TIME_PERIOD_TYPE.tpt_name)
                </td>
                <td>
                    <input type="hidden" id="MPId" value="@item.mtrc_period_id"/>
                    <input type="button" class="btnMPDetails" value="Details" />
                    @*@Html.ActionLink("Details", "_metricPeriodDetails", new { id=item.mtrc_period_id })*@
                </td>
            </tr>
}

    </table>

    <hr />
    <div class="row" style="text-align:center">
        <a href="/MetricPeriod/AddMetricPeriod"><input type="button" class="btn btn-primary" id="btnAddMP" value="Add New Metric Period" /></a>
    </div>
    <br />
</div>