@model MetricDM.Models.MTRC_METRIC_PERIOD

@*If creating a new Metric Period, show where values were auto-populated from the Metric values
Else if editing an existing Metric Period, hide all asterisks.*@
<style>
    .metric-period > .indicate-defaulted-value, .asterisk:after {
        content: "*";
    }
    .metric-period > .color-defaulted-value {
        background-color: antiquewhite;
    }
</style>

@if(ViewBag.createNewMetricPeriod == true)
{
    ViewBag.formId = "frmAddMP";
    ViewBag.newMetricClasses1 = "indicate-defaulted-value asterisk";
    ViewBag.newMetricClasses2 = "color-defaulted-value";
}
else
{
    ViewBag.formId = "frmViewMP";
    ViewBag.newMetricClasses1 = "";
    ViewBag.newMetricClasses2 = "";
}

@using (Html.BeginForm("AddMetricPeriod","MetricPeriod", FormMethod.Post, new { enctype = "multipart/form-data", id = ViewBag.formId}))
{
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.mtrc_period_id)
        <input type="hidden" id="mID" name="mtrc_id" value="@Model.mtrc_id" />
    </div>
    <span font-size:large; font-weight:bold"> </span>
    <span id="saveMessage" class="alert-success" style="display:none; font-size:large; font-weight:bold"> </span>
    <br />
    <div class="row" style="margin-top:5px">
        <div class="col-md-4 col-sm-3" >
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_name, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name", style = "min-width:100%"} })
            </div>
        </div>
        <div class="col-md-8 col-sm-9" >
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_desc, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_desc, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Description", style = "min-width:100%" } })
        </div>
            </div>
    </div>
    
    <div class="row" style="margin-top:5px">
        <div class="col-md-3 col-sm-6">
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.tpt_id, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold; min-width:130px" })
                @*@Html.EditorFor(model => model.tpt_id, new { htmlAttributes = new { @class = "form-control", placeholder = "___" } })*@
                @Html.DropDownList("tpt_id", null, "--- Select Time Period ---", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_token, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold; min-width:90px" })
                @Html.EditorFor(model => model.mtrc_period_token, new { htmlAttributes = new { @class = "form-control mustUpperCase", placeholder = "Enter Token" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_max_dec_places, htmlAttributes: new { @class = "input-group-addon " + ViewBag.newMetricClasses1, style = "font-weight:bold; min-width:133px" })
                @Html.EditorFor(model => model.mtrc_period_max_dec_places, new { htmlAttributes = new { @class = "form-control " + ViewBag.newMetricClasses2, placeholder = "Enter Max Decimals" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_calc_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold; min-width:133px" })
                @Html.EditorFor(model => model.mtrc_period_calc_yn, new { htmlAttributes = new { @class = "form-control mustUpperCase", placeholder = "Y/N?" } })
            </div>
        </div>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.tpt_id, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_name, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_token, "", new { @class = "text-danger" })

    </div>


    <div class="row" style="margin-top:5px">
        <div class="col-md-3 col-sm-6">
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_min_val, htmlAttributes: new { @class = "input-group-addon " + ViewBag.newMetricClasses1, style = "font-weight:bold; min-width:130px" })
                @Html.EditorFor(model => model.mtrc_period_min_val, new { htmlAttributes = new { @class = "form-control " + ViewBag.newMetricClasses2, placeholder = "Enter Min Value" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_max_val, htmlAttributes: new { @class = "input-group-addon " + ViewBag.newMetricClasses1, style = "font-weight:bold; min-width:90px" })
                @Html.EditorFor(model => model.mtrc_period_max_val, new { htmlAttributes = new { @class = "form-control " + ViewBag.newMetricClasses2, placeholder = "Enter Max Value" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_na_allow_yn, htmlAttributes: new { @class = "input-group-addon " + ViewBag.newMetricClasses1, style = "font-weight:bold; min-width:133px" })
                @Html.EditorFor(model => model.mtrc_period_na_allow_yn, new { htmlAttributes = new { @class = "form-control mustUpperCase" + ViewBag.newMetricClasses2, placeholder = "Y/N?" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6 metric-period">
            <div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_max_str_size, htmlAttributes: new { @class = "input-group-addon " + ViewBag.newMetricClasses1, style = "font-weight:bold; min-width:133px" })
                @Html.EditorFor(model => model.mtrc_period_max_str_size, new { htmlAttributes = new { @class = "form-control " + ViewBag.newMetricClasses2, placeholder = "Enter Max String Size" } })
            </div>
        </div>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.mtrc_period_min_val, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_max_val, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_max_dec_places, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_max_str_size, "", new { @class = "text-danger" })

    </div>

    <div class="row" style="margin-top:5px">
        <div class="col-md-3 col-sm-6">
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_can_import_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold; min-width:130px" })
                @Html.EditorFor(model => model.mtrc_period_can_import_yn, new { htmlAttributes = new { @class = "form-control mustUpperCase", placeholder = "Y/N?" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="input-group metric-period">
                @Html.LabelFor(model => model.mtrc_period_is_auto_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold; min-width:90px" })
                @Html.EditorFor(model => model.mtrc_period_is_auto_yn, new { htmlAttributes = new { @class = "form-control mustUpperCase", placeholder = "Y/N?" } })
            </div>
        </div>
        <div class="col-md-3 col-sm-6 metric-period">
            @*<div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_na_allow_yn, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                @Html.EditorFor(model => model.mtrc_period_na_allow_yn, new { htmlAttributes = new { @class = "form-control", placeholder = "___" } })
            </div>*@
        </div>

        <div class="col-md-3 col-sm-6 metric-period">
            @*<div class="input-group">
                @Html.LabelFor(model => model.mtrc_period_max_str_size, htmlAttributes: new { @class = "input-group-addon", style = "font-weight:bold" })
                    @Html.EditorFor(model => model.mtrc_period_max_str_size, new { htmlAttributes = new { @class = "form-control", placeholder = "__" } })
            </div>*@
        </div>
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.mtrc_period_na_allow_yn, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_can_import_yn, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(model => model.mtrc_period_is_auto_yn, "", new { @class = "text-danger" })
    </div>

    <br class="default-message" />
    <div class="default-message">*Values defaulted from parent metric. Please update as needed.</div>

    <hr class="save-metric-period"/>
    <div class="row save-metric-period" style="text-align:center">
        <input type="button" class="btn btn-primary" id="btnSaveMPDetail" value="Save Metric Period Data" />
    </div>

    <br />
    <div>
        @ViewBag.saveResult
    </div>

}
