@model MetricDM.Models.MTRC_METRIC

@{
    ViewBag.Title = "Maintenance";
}
<style>
    .MetricDetails dt {
        max-width: 300px;
        text-align:right;
    }
        .MetricDetails dd {
        max-width: 400px;
        text-align: left;
    }

</style>
<div class="row" >
    <h2>Metric Maintenance</h2>
</div>
<div class="row" style="margin:0; ">
    <div class="col-sm-5" style="text-align:right; padding:0px 0px"><span class="form-control" style="font-weight:bold; max-width:220px; float:right; background-color: lightgray; border-top-right-radius:0px; border-bottom-right-radius:0px">Select a Metric to Maintain: </span></div>
    <div class="col-sm-5" style="text-align: left; padding-left: 0px">@Html.DropDownList("metric_sel_list", null, "--- Select Metric ---", htmlAttributes: new { @class = "form-control", style = "min-width:200px; max-width:350px; border-bottom-left-radius:0px; border-top-left-radius:0px;" })</div>
</div>


@if (!(Model == null))
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <br />
    //Draw a section where the Form Edit Fields will be displayed for the selected Metric
    <div class="row" style="border: 4px double black; border-radius: 10px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.mtrc_id)
        <input type="hidden" name="@Model.mtrc_id" />    
        <br />
        <div class="row">
            <div class="col-sm-4" >
                <div class="form-group">
                    @Html.LabelFor(model => model.mtrc_name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mtrc_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mtrc_name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-8" >
                <div class="form-group">
                    @Html.LabelFor(model => model.mtrc_desc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mtrc_desc, new { htmlAttributes = new { @class = "form-control", style="min-width:600px" } })
                        @Html.ValidationMessageFor(model => model.mtrc_desc, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-right:7px; border-radius:7px">
            <div class="col-sm-6">
                <div style="border:1px solid black; text-align:left; margin-left:10px; margin-top:20px; padding-left:8px; border-radius:6px">
                    <span class="form-control" style="margin-top: -10px; width:110px; border:none; background-color:none; margin-left:5px; padding: 0px 0px 0px 5px; ">Effective Dates</span>
                    <div class="row">
                        <div class="col-sm-6">From: @Html.EditorFor(model => model.mtrc_eff_start_dt, new { htmlAttributes = new { @class = "form-control" } }) </div>
                        <div class="col-sm-6">To: @Html.EditorFor(model => model.mtrc_eff_end_dt, new { htmlAttributes = new { @class = "form-control" } })</div>
                    </div>
                    @Html.ValidationMessageFor(model => model.mtrc_eff_start_dt, "", new { @class = "text-danger" })<br />
                    @Html.ValidationMessageFor(model => model.mtrc_eff_end_dt, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row" style="border:1px solid black; margin: 20px 0px 0px 0px; padding: 0px 0px 24px 0px">
                    <div style="font-weight:bold; margin-bottom:15px;">METADATA:</div>
                    <table style="width:100%; margin:0 auto">
                        <tr>
                            <td style="vertical-align:middle; width:33%">
                                <table style="width:100%">
                                    <tr>
                                        <td style="vertical-align:middle; width:50%">
                                            @Html.LabelFor(model => model.mtrc_min_val, htmlAttributes: new { @class = "control-label ", style = "text-align:right; padding:0" })
                                        </td>
                                        <td style="width:50%">
                                            <div>
                                                @Html.EditorFor(model => model.mtrc_min_val, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.mtrc_min_val, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                            <td style="vertical-align:middle; width:33%">
                                <table style="width:100%">
                                    <tr>
                                        <td style="vertical-align:middle; width:50%">
                                            @Html.LabelFor(model => model.mtrc_max_val, htmlAttributes: new { @class = "control-label ", style = "text-align:right; padding:0; vertical-align:middle" })
                                        </td>
                                        <td style="width:50%">
                                            <div>
                                                @Html.EditorFor(model => model.mtrc_max_val, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.mtrc_max_val, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="vertical-align:middle; width:33%">
                                <table style="width:100%">
                                    <tr>
                                        <td style="vertical-align:middle; width:50%">
                                            @Html.LabelFor(model => model.mtrc_max_dec_places, htmlAttributes: new { @class = "control-label ", style = "text-align:right; padding:0; margin:0; vertical-align:middle" })
                                        </td>
                                        <td style="width:50%">
                                            <div>
                                                @Html.EditorFor(model => model.mtrc_max_dec_places, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.mtrc_max_dec_places, "", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>                
            </div>  <!-- METADATA ROW DIV END -->

        </div> <!-- DATES AND META-DATA ROW SECTION-->
        <br />
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.data_type_id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("data_type_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.data_type_id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.mtrc_token, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mtrc_token, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mtrc_token, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.mtrc_max_str_size, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mtrc_max_str_size, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mtrc_max_str_size, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.mtrc_na_allow_yn, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.mtrc_na_allow_yn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mtrc_na_allow_yn, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div> <!-- THIRD LINE ROW END -->
        <br />
        <div class="row" style="text-align:center">
            <input type="submit" value="Save" class="btn btn-primary" style="width:100px" />
        </div> <!-- BUTTONS ROW DIV END -->
    <br />
    </div> <!-- FORM HEADER END -->
    }

    <br />
    <div class="row" id="divPeriodList" style="border:4px double black">
        <div class="row" style="border-bottom: 1px solid black; margin:0">CURRENT AVAILABLE PERIODS FOR "<span style="font-weight:bold">@Model.mtrc_name</span>" METRIC</div>
        <div class="row" style="margin:0">
            <br />
            @Html.Action("_metricPeriodInfo")
            @*@Html.Action("Action", "optionalController", new { id = "someid" });*@
            <br /><br />
        </div>
    </div>
    <br /><br />
    <div class="row" id="divPeriodDetails" style="border:4px double black; display:none">
        <br />
        <p>Please wait... Loading Info</p>

        
    </div>
    <br /><br />
}
else
{
<div style="color: red">
    There are no Details to Display. Select a value from the dropdown.
</div>
}


<script>
    $(document).ready(function () {
    $("#metric_sel_list").on("change", function () {
        var selId = $(this).val();
        location.href = "/MetricPeriod/MetricMaintenance/" + selId;
        //alert("Valueselected is id: " + selId);
    })
    $(".btnMPDetails").click(function () {
            alert("Please wait.. Loading Ajax info for Metric Period Id " + $(this).siblings("#MPId").val());
            $("#divPeriodList").hide();
            $("#divPeriodDetails").html("Hello!");

            // ------------ Make the Ajax Call ---------------------------------------------
            @*$.ajax({
                url: '@Url.Action("addQuestionAnswerInfo", "Question")',
                method: "GET",
                cache: false,
                //data: { qat_id: QATid, sel_ans_list: textValues },     //<---- Data Parameters (if not already passed in the Url)
                //data: JSON.stringify({ 'Options': someData }),           //<--- In case we wanted to post a JSON data object
                //dataType: "json",                                        //<--- In case we wanted to post a JSON data object
                //contentType: "application/json; charset=utf-8",          //<--- In case we wanted to post a JSON data object
                //traditional: true,                                       //<--- In case we wanted to post a JSON data object

                //--- On error, execute this function ------
                error: function () {
                    obsAlert("An Error has Occurred. Unable to Add!!");  //<-- Trap and alert of any errors if they occurred
                }
            }).done(function (d) {
                //Execute this code After the Ajax call completes successfully
                $("#divNewSA").html(d);
                $("#fullSelATlist").focus();
                $('html,body').animate({ scrollTop: document.body.scrollHeight }, "slow");
                //window.scrollTo(0, 0);   //Scroll to the top of the Screen
            });*@

            $("#divPeriodDetails").show();
        });


    });
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}