@model MetricDM.Models.BldgAsgnViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-5">
            <div class="row"><span>Unassigned:</span></div>
            <select name="leftBldgList" id="unasgndBldgList" multiple="multiple" size="10" style="min-width:300px">
              @foreach (var bldg in Model.unassignedBldgList)
              {
                <option value="@bldg.dsc_mtrc_lc_bldg_id">@bldg.dsc_mtrc_lc_bldg_name</option>
              }
            </select>
        </div>
        <div class="col-md-2" style="margin-top:50px; margin-bottom:50px">
            <div class="row">
                <button type="button" class="btn" id="btnAsgnBldg">></button>
            </div>
            <br />
            <div class="row">
                <button type="button" class="btn" id="btnUnasgnBldg"><</button>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row"><span>Assigned:</span></div>
            <select name="asgndBldgList" id="asgndBldgList" multiple="multiple" size="10" style="min-width:300px">
                @foreach (var bldg in Model.userBldgList)
                {
                    <option value="@bldg.dsc_mtrc_lc_bldg_id">@bldg.dsc_mtrc_lc_bldg_name</option>
                }
            </select>
        </div>
    </div>

}