@model MetricDM.Models.MtrcAsgnViewModel

<div class="panel-heading">
    <input type="hidden" id="hdnAppUserRoleId" value="@Model.userRoleId" />
</div>

<br />
<div class="row">
    <div class="col-md-4">
        <select name="leftMtrcList" id="unasgndMtrcList" size="10" style="min-width:200px">
            @foreach (var mtrc in Model.unassignedMtrcList)
            {
                var mtrcProd = mtrc.MTRC_METRIC_PRODUCTS.Where(x => x.prod_id == Model.product.prod_id);
                string display_text = (mtrcProd.Count() > 0) ? mtrcProd.First().mtrc_prod_display_text : "";
                string mtrc_display_text = (String.IsNullOrEmpty(display_text)) ? mtrc.mtrc_period_name : mtrc.mtrc_period_name + " (" + display_text + ")";

                <option value="@mtrc.mtrc_period_id">@mtrc_display_text</option>
            }
        </select>
    </div>
    <div class="col-md-4">
        <div class="row">
            <button type="button" class="btn" id="btnAsgnMtrc">>></button>
        </div>
        <br />
        <div class="row">
            <button type="button" class="btn" id="btnUnasgnMtrc"><<</button>
        </div>
    </div>
    <div class="col-md-4">
        <select name="asgndMtrcList" id="asgndMtrcList" size="10" style="min-width:200px">
            @foreach (var mtrc in Model.userRoleMtrcList)
            {
                var mtrcProd = mtrc.MTRC_METRIC_PRODUCTS.Where(x => x.prod_id == Model.product.prod_id);
                string display_text = (mtrcProd.Count() > 0) ? mtrcProd.First().mtrc_prod_display_text : "";
                string mtrc_display_text = (String.IsNullOrEmpty(display_text)) ? mtrc.mtrc_period_name : mtrc.mtrc_period_name + " (" + display_text + ")";

                <option value="@mtrc.mtrc_period_id">@mtrc_display_text</option>
            }
        </select>
    </div>
</div>
