@model MetricDM.Models.MTRC_MPG

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MTRC_MPG</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.mtrc_period_id, "mtrc_period_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("mtrc_period_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.mtrc_period_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_id, "prod_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("prod_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.prod_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_less_val, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_less_val, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_less_val, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_less_eq_val, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_less_eq_val, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_less_eq_val, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_greater_val, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_greater_val, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_greater_val, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_greater_eq_val, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_greater_eq_val, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_greater_eq_val, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_equal_val, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_equal_val, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_equal_val, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_score, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_score, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_score, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_display_text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_display_text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_display_text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_allow_bldg_override, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_allow_bldg_override, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_allow_bldg_override, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_start_eff_dtm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_start_eff_dtm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_start_eff_dtm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mpg_end_eff_dtm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mpg_end_eff_dtm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.mpg_end_eff_dtm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
