@model MetricDM.Models.MTRC_MPG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MTRC_MPG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mpg_less_val)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_less_val)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpg_less_eq_val)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_less_eq_val)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpg_greater_val)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_greater_val)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpg_greater_eq_val)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_greater_eq_val)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpg_equal_val)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_equal_val)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpg_score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpg_display_text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_display_text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpg_allow_bldg_override)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_allow_bldg_override)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpg_start_eff_dtm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_start_eff_dtm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpg_end_eff_dtm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpg_end_eff_dtm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRC_METRIC_PERIOD.mtrc_period_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRC_METRIC_PERIOD.mtrc_period_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MTRC_PRODUCT.prod_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MTRC_PRODUCT.prod_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mpg_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
